<div class="col-xs-12">
  <div class="jumbotron">
    <h1>
      Counterfactual Coding
    </h1>
    <p>
      A senior design project at the university of Pennsylvania by Allegra Larche, Joey Raso, Kevin Zembroski, and Anthony Janocko
    </p>
  </div>
  <div class="row">
    <h3>What Is Counterfactual Thinking?</h3>
    <div class="col-xs-offset-1">
      <p>Counterfactual thinking is a concept in psychology that involves the human tendency to create possible alternatives to life events that have already occurred</p>
      <twitter-widget twitter-widget-id="'704902019811840001'"></twitter-widget>
      <twitter-widget twitter-widget-id="'715287959122157573'"></twitter-widget>
      <twitter-widget twitter-widget-id="'718515686797144065'"></twitter-widget>
    </div>
    <h3>Why do we care?</h3>
    <div class="col-xs-offset-1">
      <p>Counterfactual thinking has been shown to be linked to certain aspects of one's personality such as aptitude for planning and affect management. Our project sought to apply this concept to a larger scale, instead studying if counterfactuals could be linked to greater socio-economic statistics. We used twitter as our platform for gathering data and correlated our findings against county-level statistics from the WWBP database. You can see our findings below.</p>
    </div>
    <h3>Our findings/contributions</h3>
    <div class="col-xs-offset-1">
      <table class="table table-striped">
        <tr>
          <th>Correlation</th>
          <th>R-value</th>
        </tr>
        <tr>
          <td>Life Satisfaction</td>
          <td>.047</td>
        </tr>
        <tr>
          <td>Divorce Rate</td>
          <td>.056</td>
        </tr>
        <tr>
          <td>Median Income</td>
          <td>-.013</td>
        </tr>
        <tr>
          <td>Percent Female</td>
          <td>-.024</td>
        </tr>
        <tr>
          <td>Median Age</td>
          <td>.059</td>
        </tr>
        <tr class="error">
          <td>Percent Unemployed</td>
          <td>-.125</td>
        </tr>
        <tr>
          <td>Percent Under Poverty Line</td>
          <td>-.085</td>
        </tr>
        <tr class="error">
          <td>Percent with Bachelor's Degree</td>
          <td>-.103</td>
        </tr>
        <tr>
          <td>Catholic Adherence Rate</td>
          <td>-.093</td>
        </tr>
        <tr class="error">
          <td>Premature Death Rate</td>
          <td>-.132</td>
        </tr>
        <tr>
          <td>Excessive Drinking</td>
          <td>-.052</td>
        </tr>
        <tr class="error">
          <td>Violent Crime Rates</td>
          <td>-.198</td>
        </tr>
        <tr class="error">
          <td>Post-Secondary Education</td>
          <td>-.132</td>
        </tr>
        <tr>
          <td>Teen Birth Rate</td>
          <td>-.073</td>
        </tr>
        <tr>
          <td>Poor Mental Health Rate</td>
          <td>.061</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row text-center">
    <a class="btn btn-info" id="load-more" ui-sref="userTweets">
      Go To Twitter App
    </a>
    <a class="btn btn-info" id="load-more" ui-sref="map">
      Go To Map App
    </a>
  </div>
</div>