<div class="col-xs-12">
  <div class="row">
    <h1>
      Select a date, time, and location to see counterfactual usage during that time span
    </h1>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
    </div>
  </div>
  <div class="row">
    <h1>Select A Predefined Event:</h1>
    <ul class="list-group">
      <li class="list-group-item">Boston Marathon</li>
      <li class="list-group-item">Brussels Bomber</li>
      <li class="list-group-item">Paris Shooting</li>
    </ul>
  </div>
  <div class="row text-center">
    <h1> Select a specific date and time:</h1>
    <div class="calendar">Some sort of calendar widget 1</div>
    <div class="calendar">Some sort of calendar widget 2</div>
    <md-content>
      <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
    </md-content>
    
    <button class="btn btn-info" ui-sref="home">
      Back Home
    </button>
  </div>
</div>
