<div>
  <div class="row">
      <button ng-click="connectButton()" id="connectButton" type="button" class="btn btn-primary">
        Connect Twitter
      </button>
      <button ng-click="refreshTimeline()" id="getTimelineButton" type="button" class="btn btn-info" style="display:none;">
        Get My Timeline
      </button>
      <button ng-click="signOut()" id="signOut" type="button" class="btn btn-link" style="display:none;">
        Sign Out
      </button>
  </div>
  <div class="row">
    <div class="col-xs-12" id="results">
      <p id="loading" style="display:none;">Loading tweets...</p>
      <div class="row" ng-repeat="t in tweets">
        <twitter-widget twitter-widget-id=t.id_str>
        </twitter-widget>
      </div>
      <div ng-show="rateLimitError">
        Rate limit reached. You are making too many requests.
      </div>
      <div>
        <br/>
        <input type="button" class="btn btn-info" id="load-more" ng-click="refreshTimeline(tweets[tweets.length-1].id)" ng-show="connectedTwitter" value="Load More" />
      </div>
    </div>
   </div>
   <div class="row text-center">
    <button class="btn btn-info" ui-sref="home">
      Return Home
    </button>
   </div> 
</div>
